<div class="card mt-4">
    <h4 class="card-header">Home</h4>
    <div class="card-body">
        <p>You're logged in with Angular  & JWT!!</p>
        <p>Your role is: <strong>{{user.role}}</strong>.</p>
        <p class="mb-1">Current user from secure api end point:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="userFromApi">
            <li>{{userFromApi.fullName}} </li>
        </ul>
    </div>
    
</div>
<div class="card mt-4 list-horizontal">
    <h4 class="card-header">Home</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-group">
                <label for="value">Value :</label>
                <input 
                    formControlName="value"
                    id="value" 
                    type="text" 
                    class="form-control">
                <div *ngIf="f.value.touched && f.value.invalid" class="alert alert-danger">
                    <div *ngIf="f.value.errors.required">value is required.</div>
                </div>
            </div>
      
            <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
           
        </form>
    </div>
<div>
<mat-tab-group *ngIf="loadComponent" >
  <mat-tab   *ngFor="let tab of returnresponse; " [label]="tab.schemaDatasetName">
    <div ng-if="tab.data.length > 0">
        <dynamictable2  [datalist]="tab.data" > </dynamictable2>
    </div>
    <div ng-if="!tab.data?.length > 0">
        <label for="resultslbl">No data matched the search criteria!</label>
    </div>
  <!-- Contents for {{tab}} tab
  <button mat-raised-button
            class="example-delete-tab-button"
            [disabled]="tabs.length === 1"
            (click)="removeTab(index)">
      Delete Tab
    </button> -->
  </mat-tab>
</mat-tab-group>
</div>
   
</div>